.bills {
    margin: 0;
    width: 100%;
    min-height: 100%;
    padding: 15px;
    background-image: linear-gradient(to bottom, #dae8ed, #bbc2e9);
    overflow-x: hidden;
}

.bills__list {
    display: flex;
    flex-wrap: wrap;
}

.bills__list-item {
    position: relative;
    flex-grow: 1;
    flex-basis: 100%;
    min-height: 85px;
    margin-bottom: 15px;
}

.bills__list-item::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: #ccc;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.bills__list-item:last-child {
    margin-bottom: 0;
}

.bill-add {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 18px;
    text-decoration: none;
    color: #fff;

}

.bill-add__icon {
    fill: #fff;
    width: 35px;
    height: 35px;
    margin-right: 15px;
}
